* {
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: rgb(241, 241, 245);
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 229, 223);
    padding: 20px;
    align-items: center;
}
#logo {
    width: 200px;
    height: 60px;
}
nav {
    margin-left: auto;
}
nav a {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-weight: 800;
}
nav a:hover {
    color: rgb(121, 68, 171);
}
#cse-banner {
    width: 100%;
    height: 300px;
    display: block;
}

.members {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px;
}
.post-card {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: rgb(160, 123, 194);
}
.post-card img {
    margin-top: 0;
    width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
.text {
    background-color: rgb(244, 188, 7);
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(45, 68, 108, 0.702);
    margin-top: 20px;
}

